.icon {
  margin-right: 5px;
  display: inline-block;
  line-height: 0;
  font-size: 0;
  vertical-align: bottom;
}
.iconXs {
  width: 14px;
  height: 14px;
  margin-left: -3px;
}
.iconSm {
  width: 16px;
  height: 16px;
}
.iconMd {
  width: 20px;
  height: 20px;
}
.iconLg {
  width: 24px;
  height: 24px;
  vertical-align: sub;
}
